html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

}
::-webkit-scrollbar {
  width: 0px;
}


a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 1400px; 
  margin: auto;
  width: 100%;
}

.layout {
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 6px 10px 6px 0px;
  position: relative;
}

.home-button {
  cursor: pointer;
  display: flex;
  padding: 5px;
}

.home-button:hover {
  background-color: rgba(220,220,220,1);
  border-radius: 10px;
  
}

.home-icon {
  padding-left: 10px;
}

.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: rgba(240,45,52,1);
}

.product-information-container {
  max-width: 220px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.marquee {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  overflow-x: hidden;
  background-color: rgba(128, 128, 128, 0.3);
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
  width: 400%;
}

.track:hover {
  animation-play-state: paused;
}

span.text-red {
    -webkit-text-stroke: 1px rgba(240,45,52,1);
    margin-left: 6px;
}

.logo {
  display: flex;
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
  color: gray;
  font-size: 18px;
  width: 100%;
}

.cart-icon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}

.cart-icon:hover {
  transform: scale(1.1,1.1);
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: rgba(240,45,52,1);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.searchbar-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: rgba(220,220,220,1);
  border-radius: 5px;
  padding: 5px;
  max-width: 350px;
}

.searchbar-bg {
  display: flex;
  background-color: white;
  width: 100%;
}

.search-icon-container {
  padding: 3px;
  border-radius: 2px;
  margin-left: 3px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  color: rgb(50,77,103);
}

.search-input {
  width: 100%;
  border: none;
  padding: 2px 0px 2px 10px;
  font-weight: 600;
}

.search-input:focus {
  outline: none;
}

.select-options-container {
  margin-left: 10px;
}

.select {
  font-size: 16px;;
  height: 100%;
  border-radius: 3px;
  color: rgba(50,77,103,1);
}

.select:focus {
  outline: none;
}

.product-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  max-width: 300px;
  min-width: 280px;
  width: 100%;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: rgba(50,77,103,1);
  background-color: #ebebeb;
  border-radius: 15px;
  margin: 10px;
  position: relative;
}

.product-card:hover {
  transform: scale(1.05,1.05)
}

.sale-discount-container {
  padding: 3px;
  background-color: rgba(255, 0, 0, 0.8);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: absolute; 
  z-index: 1;
  border: 2px solid white;
}

.product-details-notHover {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: absolute; 
  padding: 3px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  font-weight: 700;
  pointer-events: none;
  z-index: 1;
  top: -5px;
}

.product-details-hover {
  pointer-events: none;
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center; 
  font-weight: 700;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: white;
  border: 2px solid white;
  color: red;
  background-color: rgba(231, 227, 227, 0.9);
  z-index: 1;
  top: -5px;
  left: -2px;
}

.off-hover {
  position: absolute;
  padding: 5px;
  top: -12px;
  left: 30px;
  border-radius: 50%;
  background-color: rgba(231, 227, 227, 1);
  color: red;
  border: 2px solid white;
  font-size: 12px;
  pointer-events: none;
}

.off-not-hover {
  position: absolute;
  padding: 5px;
  top: -12px;
  left: 30px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 1);
  border: 2px solid white;
  font-size: 12px;
  pointer-events: none;
}

.sale-discount-container p {
  color: white;
  font-weight: 700;
}



.off {
  position: absolute;
  padding: 5px;
  top: -15px;
  right: -12px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 1);
  border: 2px solid white;
  font-size: 12px;
}

.product-image {
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.product-name {
  margin-top: 10px;;
  font-weight: 500;
}

.price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.product-price {
  font-weight: 400;
  text-decoration: line-through;
}

.product-discounted-price {
  font-weight: 700;
  color:  rgba(255, 0, 0, 0.7);
  margin-left: 10px;
}

.margin-left {
  margin-left: 20px;
}

.hero-banner-container {
  padding: 100px 40px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9; 
  width: 100%;
  z-index: 0;
}

.hero-banner-container .beats-solo {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-banner-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: rgba(240,45,52,1);
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index:10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 4px;
}

.hero-banner-largeText {
  position: relative;
  color: white;
  font-size: 9.5em;
  z-index: -3;
  text-transform: uppercase;
}

.hero-banner-image {
  position: absolute;
  top: 0%;
  right:3%;
  width: 450px;
  height: 80%;
  z-index: -4;
}

.halved-image {
  position: absolute;
  top: 0%;
  right:3%;
  width: 450px;
  height: 80%;
  z-index: -2;
}

.desc {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: rgba(50,77,103,1);
}

.desc p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}

.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  align-self: flex-end;
}

.products-heading {
  text-align: center;
  margin: 40px 0px;
  color: rgba(50,77,103,1);
}

.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
}

.products-heading p {
  font-size: 16px;
  font-weight: 200;
}

.footer-banner-container {
  padding: 120px 40px;
  background-color:  rgba(240,45,52,1);
  border-radius: 15px;
  position: relative;
  height: auto;
  line-height: 1; 
  color: white;
  width: 100%;
  margin-top: 300px;
}

.banner-desc {
  display: flex ;
  position: relative;
  justify-content: space-between;
}

.banner-desc button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}

.banner-disc {
  top: -15px;
  height: 1px;
  position: relative;
  animation: discountAnimation 1s ease-in-out infinite;
}

.banner-desc .left h3 {
  font-weight: 900;
  font-size: 80px;
}

.banner-desc .left p {
  margin:18px 0px;
}

.footer-banner-image {
  display: flex;
  flex: 1;
  position: absolute;
  max-width: 400px;
  max-height: 500px;
  min-width: 280px;
  min-height: 340px;
  width: 100%;
  top: -400px;
  left: calc((100% - 400px) / 2);
}

.banner-desc .right {
  line-height: 1.4;
  padding-left: 20px;
}

.banner-desc .right h3 {
  font-weight: 800;
  font-size: 80px;
}

.banner-desc .right p {
  font-size: 18px;
}

.banner-desc .right .company-desc {
  font-size: 14px;
  font-weight: 300;
} 

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart-container {
  height: 100vh;
  width: 100vw;
  float: right;
  top: -4px;
  right: 0px;
  padding: 40px 10px;
  position: relative;
  transition: all 1s ease-in-out;
}

.background-click {
  background-color: transparent;
  width: 21vw;
  height: 100vh;
  position: absolute;
  left: -5px;
  top: 4px;
  z-index: 80;
  cursor: pointer;
}

.cart-content {
  background-color: white;
  width: 80vw;
  height: 100vh;
  top: 4px;
  right: 0;
  float: right;
  position: absolute;
  padding-top: 10px;
}

.footer-container {
  color: rgba(50,77,103,1);
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

}

.image-container {
  position: relative;
} 

.image-button-container {
    position: relative;
    max-width: 400px;;
    max-height: 400px;
    height: 100%;
    width: 100%;
}

.left-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 5px;
  border-radius: 50%;
  color: rgba(255, 0, 0, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
  top: 45%;
  left: 10px;
}

.left-arrow:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.8);
  border: 1px solid white;
}

.right-arrow {
  position: absolute;
  display: flex;
  border-radius: 50%;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.5);
  color: rgba(255, 0, 0, 0.5);
  top: 45%;
  right: 10px;
}

.right-arrow:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.8);
  border: 1px solid white;
}


.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}

 .cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 20px;
  margin-top: 10px;
  border: none;
  background-color: transparent;
  color: rgba(128, 128, 128, 1);
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 10px;
  color: rgba(240,45,52,1);
}

.empty-cart {
  margin:40px;
  text-align:center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
} 

.cancel {
  cursor: pointer;
}

.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}

.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.product:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.product .cart-product-image {
  width:180px ;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}

.item-desc {
  width: 100%;
  height: auto;
  position: relative;
}

.item-desc .flex {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  padding-right: 25px;
  color: rgba(50,77,103,1);
}

.product-cart-price-container {
  display: flex;
  margin: 5px 0px;
  flex-direction: row;
}

.top {
  flex-wrap: wrap;
  grid-gap: 10px;
}

.item-desc .bottom {
  margin-top: 60px;
}

.flex h5 {
  font-size: 24px;
}

.flex h6 {
  font-size: 16px;
} 

.total {
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-size: 22px;

}

.quantity-desc-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  width: 100%;
}

.remove-item {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: rgba(240,45,52,0.8);
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 50%;
}

.remove-item:hover {
  color: white;
}

.cart-stripe-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.cart-subtotal {
  display: flex;
  padding: 10px 10px 10px 20px;
  right: 5px;
  width: 100%;
}

.subtotal-value {
  margin-left: 10px;
}

.btn-container {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.extra-padding {
  padding: 10px !important;
  margin-top: 30px;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 5px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  background-color: rgba(240,45,52,1);
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.1,1.1);
}

.line-through {
  text-decoration: line-through;
  color: red;
}

.font-weight-700 {
  font-weight: 700;
}

.product-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  color: rgba(50,77,103,1);
  box-sizing: border-box;
}

.product-detail-container > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px ;
}

.product-details-desc {
  display: flex; 
  flex-direction: column;
  padding-left: 20px;
  height: auto;
  width: 100%;
}

.product-detail-image {
  display: flex;
  border-radius: 15px;
  background-color: #ebebeb;
  flex: 1;
  width: 400px;
  height: 400px;
  transition: .3s ease-in-out;
}

.product-detail-image:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.small-image {
  border-radius: 8px;
  background-color: rgba(235,235,235,1);
  max-width: 70px;
  max-height: 70px;
  min-height: 70px;;
  width: 100%;
  height: 100%;
}

.small-image-bg {
  background-color: rgba(255, 0, 0, 0.7);
}

.img-focus {
  border: 1px solid rgba(255, 0, 0, 0.7);
}

.small-image:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.selected-image {
  border: 1px solid rgba(240,45,52,1);
}

.reviews {
  color: rgba(240,45,52,1);
  margin-top: 10px;
  display: flex;
  gap: 5px;
  padding: 5px 5px 5px 0px;
}

.stars-container {
  display: flex;
  align-items: center;
}

.product-detail-desc h4 {
  margin-top: 10px;
}

.product-detail-desc p {
  margin-top: 10px;
}

.reviews p {
  color: rgba(50,77,103,1);
  margin-top: 0px;
  box-sizing: border-box;
}

.product-detail-desc .price {
  font-weight: 700 ;
  font-size: 26px;
  margin-top: 30px;
  color: rgba(240,45,52,1);;
}

.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px ;
  align-items: center;

}

.buttons {
  display: flex;
  flex: 1;
  max-width: 320px;
  width: 100%;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid  rgba(240,45,52,1); 
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color:  rgba(240,45,52,1);
  cursor: pointer;
  max-width: 140px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.add-to-cart:hover {
  transform:scale(1.1,1.1);
}

.shopping-cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px; 
}

.buy-now { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 140px;
  width: 100%;
  background-color: rgba(240,45,52,1);
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  padding: 5px;
  margin-left: 10px;
}

.buy-now:hover {
  transform:scale(1.1,1.1);
}

.buy-now-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.quantity-desc {
  display: flex;
  height: 100%;
  width: auto;
  border: 1px solid gray;
}

.quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.cart-item-quantity {
  display: flex;
  height: 100%;
  border: 1px solid grey;
  width: auto;
}

.quantity-container {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: row;
  align-items: center;
}

.quantity-container > h4 {
  margin: 5px 10px 5px 0px;
}

.subtotal {
  margin: 5px 0px;
}

.minus {
  display: flex;
  justify-content: center;
  border-right: 1px solid grey;
  cursor: pointer;
  align-items: center;
  width: 40px;
  color: rgba(240,45,52,1);
}

.minus:hover {
  background-color: rgba(235,235,235,0.9);
}

.num {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  pointer-events: none;
  height: 100%;
  width: 40px;
}

.plus {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-left: 1px solid gray;
  color: rgb(49, 168, 49);
  justify-content: center;
  width: 40px;
}

.plus:hover {
  background-color: rgba(235,235,235,0.9);
}

.product-details-imageContainer {
  display: flex;
  flex-direction: row;
}

.slider-image-container {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.8);
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px;
}

.slider-image-container:hover {
  transform: scale(1.1,1.1);
  transition: transform 0.5s;
}

.image-slider-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 3px;
}

.slider-discount-container {
  position: relative;
  width: 30px;
  height: 1px;
}

.slider-discount {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  background-color: rgba(255, 0, 0, 0.7);
  border: 1px solid white;  
}

.slider-image {
  width: 100%;
  height: 80px;
  border-radius: 5px;
}

.slider-off {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 0, 0, 0.8);
  right: 0;
  top: -5px;
  border: 1px solid white;
  color: white;
}

.slider-product-name {
  padding: 2px;
  font-size: 8px;
  color: wheat;
}

.maylike-products-wrapper {
  margin-top: 20px;
}

.maylike-products-wrapper h2 {
  text-align: center;
  margin: 20px;
  color: rgba(50,77,103,1);
  font-size: 28px;

}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
}

.slider-price-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.slider-product-discounted-price {
  font-size: 8px;
  color: rgba(255, 0, 0, 0.7);
  font-weight: 700;
}

.slider-product-price {
  font-size: 8px;
  text-decoration: line-through;
}

.max-qty {
  font-weight: 500;
  color: rgba(240,45,52,1);
}

.success-wrapper, .cancel-wrapper {
  background-color: white;
  min-height: 60vh;
}

.success, .cancel {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
   color: green;
   font-size: 40px;
}

.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: rgba(50,77,103,1);

}

.success .email-msg {
   font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.cancel p {
  font-size: 20px;
  font-weight: 600;
}

.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.success .description .email {
  margin-left: 5px;
  color: rgba(240,45,52,1);
}

.product-max-qty {
  margin-top: 10px;
}

@media screen and (max-width:800px) {
  .hero-banner-container {
    height: 560px;
  }

  .product-cart-price-container {
    display: flex;
    margin: 0;
    flex-direction: row;
  }
  
  .hero-banner-largeText {
    font-size: 50px;
    position: relative;
    font-size: 8em !important;
  }

  .hero-banner-midText {
    position: relative;
  }

  .hero-banner-image {
    position: absolute;
    width: 77%;
    height: 80%;
    top: -2%;
    right: 3%;
  }

  .halved-image {
    width: 77%;
    height: 80%;
    top: -2%;
    right: 3%;
  }

  .beats-solo {
    color: white;
    margin-bottom: 20px;
  }

  .footer-banner-image {
    position: absolute;
  }
  
  .left {
    position: relative;
  }

  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 50px;
  }

  .banner-desc .right h3 {
    font-size: 45px;
  }

  .banner-desc .right p {
    font-size: 18px;
  }

  .banner-desc .right .company-desc {
    font-size: 14px;
  }

  .banner-desc{
    flex-wrap: wrap;
    gap: 20px;
  }

  .hero-banner-container {
    line-height: 1.3;
  }

 .hero-banner-container h3 {
    font-size: 40px;
  }

  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }

  .desc {
    bottom: 60px;
  }

  .product-detail-container {
    flex-wrap: wrap;
  }

  .product-detail-container {
    width: 100%;
    height: 100%;
  }

  .product-detail-image {
    width: 300px;
    height: 300px;
  }

  .cart-container {
    width: 100vw;
    padding: 4px;
  }
  
  .background-click {
    width: 20vw;
  }

  .cart-heading {
    margin-top: 35px;
  }

  .background-click {
    width: 21vw;
    left: -5px;
  }

  .product-container {
    margin-top: 10px;
    padding-left: 20px;
  }

  .product {
    padding: 20px 5px;
  }


  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }

  .buttons .add-to-cart {
    max-width: 140px;
    width: 100%;
  }

  .buttons .buy-now {
    max-width: 140px;
    width: 100%;
  }

  .item-desc .flex {
    display: flex;
    flex: 1;
    max-width: 300px;
    width: 100%;
  }

  .item-desc .bottom {
    margin-top: 30px;
  }

  .flex h5 {
    font-size: 16px;
    color: rgba(50,77,103,1);
  }

  .flex h4 {
    font-size: 16px;
  }

  .cart-subtotal {
    padding: 10px 10px 10px 20px;
  }

  .total h3 {
    font-size: 20px;
  }

  .track {
    animation: marquee 30s linear infinite;
    width: 400%;
  }

  .success-wrapper, .cancel-wrapper {
    min-height: 69vh;
  }

  .success, .cancel {
    max-width: 370px;
    width: 100%;
    margin-top: 100px;
    padding: 20px;
  }

  .success {
    height: 350px;
  }

  .success h2 {
    font-size: 17px;
  }

  .btn-container {
    max-width: 400px;
    width: 100%;
    padding: 0 20px;
    margin: auto;
  }

  .btn {
    max-width: 400px;
  }

  .right {
    padding-left: 0 !important;
  }
}

@media screen and (max-width:680px) {

  .product-details-imageContainer {
    flex-direction: column;
    padding: 0;
  }

  .product-detail-image {
    max-width: 400px;
    max-height: 400px;
  }
  
  .hero-banner-largeText {
    font-size: 5em !important;
  }

  .image-button-container {
    max-width: 300px;;
    max-height: 300px;
  }

  .footer-banner-container {
    margin-top: 40%;
  }

  .footer-banner-image {
    top: -330px;
    left: calc((100% - 360px) / 2);
  }

  .product-details-desc {
    padding: 10px 10px 10px 0px;
    box-sizing: border-box;
  }
  
  .track {
    animation: marquee 30s linear infinite;
    width: 400%;
  }

  .btn {
    max-width: 350px;
  }
}

@media screen and (max-width:450px) {
  
  .hero-banner-largeText {
    font-size: 3.8em !important;
  }

  .footer-banner-container {
    margin-top: 55%;
  }

  .footer-banner-image {
    left: calc((100% - 270px) / 2);
    width: 100%;
  }

  .background-click {
    width: 22vw;
    left: -5px;
  }

  .item-desc {
    display: flex;
    flex: 1;
    width: 100%;
  }

  .track {
    animation: marquee 30s linear infinite;
    width: 400%;
  }

  .flex h5 {
    font-size: 12px;
  }
}
 
@keyframes discountAnimation {
  0% {
    font-size: 1rem;
  }
  100% {
    font-size: 2rem;
  }
}

@keyframes marquee {
  from { transform: translateX(40%); }
  to { transform: translateX(-40%); }
}